// Calculates y = |x|
// x & y are static variables

// Put your code here.
push static 0
push constant 0
lt
if-goto NEG
push static 0
goto PUSH

label NEG
push static 0
neg
goto PUSH

label PUSH
pop static 1
goto END

label END
goto END